
Choose a team. <br>
<h1>Western Conference</h1>
 <br>
 <h4>Pacific</h4>
<% @nbateams.each do |t| %>
  <% if t.division == "Pacific" %>
    <%= link_to t.name, set_second_team_path(t), method: :get %> <br>
  <% end %>
<% end %>
<p>
<h4>Southwest</h4>
<% @nbateams.each do |t| %>
  <% if t.division == "Southwest" %>
    <%= link_to t.name, set_second_team_path(t), method: :get %> <br>
  <% end %>
<% end %>

<h4>Northwest</h4>
<% @nbateams.each do |t| %>
  <% if t.division == "Northwest" %>
    <%= link_to t.name, set_second_team_path(t), method: :get %> <br>
  <% end %>
<% end %>

<h1>Eastern Conference</h1>

<h4>Atlantic</h4>
<% @nbateams.each do |t| %>
  <% if t.division == "Atlantic" %>
    <%= link_to t.name, set_second_team_path(t), method: :get %> <br>
  <% end %>
<% end %>

<h4>Central</h4>
<% @nbateams.each do |t| %>
  <% if t.division == "Central" %>
    <%= link_to t.name, set_second_team_path(t), method: :get %> <br>
  <% end %>
<% end %>

<h4>Southeast</h4>
<% @nbateams.each do |t| %>
  <% if t.division == "Southeast" %>
    <%= link_to t.name, set_second_team_path(t), method: :get %> <br>
  <% end %>
<% end %>
