
<%= @nbateam.name %> <br>
<%= @nbateam.scores %> <br>
<%= @nbateam.mean_score_of_last_five %> <br>
<p><br>
<%= @nbateam2.name %> <br>
<%= @nbateam2.scores %> <br>
<%= @nbateam2.mean_score_of_last_five %> <br>
<p>
  <%= @comparison %>
</p>
