<div class="panel-group" id="accordion_recent_topics">
  <div class="panel panel-default">
      <div class="panel-heading text-center">
	      <strong> SMACK TALK </strong>
      </div>
    <div id="recent_topics" class="panel-collapse collapse in">
      <table class="table">
				<tbody>
          <tr>
            <td class="col-md-12">
              <div class="panel-body thread-row">
                <div class="row thread-row">
                  <div class="col-md-2 col-sm-3 hidden-xs text-center userblock">
                    <img class="img-thumbnail avatar" src="<%= @discussion.user.image_url  %>" alt="Avatar" />
                    <div class="push_bottom_5"></div>
                    <div class="label label-default"><%= @discussion.user.user_name %></div>
                    <div class="text-muted text-left"><small>Smack Talk Posts: <%= @discussion.user.discussions.count %></small></div>
                    <div class="text-muted text-left"><small>Joined <%= @discussion.user.created_at %></small></div>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-8">
                    <div class="clerafix hidden-xs">&nbsp;</div>
                    <div class="text-muted">
                      <span class="hidden-md hidden-lg"><i class="fa fa-calendar"></i> </span>
                      <small><span class="hidden-sm hidden-xs">Posted:</span><%= @discussion.created_at %></small>
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <div class="content_body"><p><%= @discussion.content %></p></div>
                  </div>
                </div>
                <% if current_user && current_user[:id] == @discussion[:user_id] %>
                  <div class="row thread-row">
                    <div class="col-md-offset-11 col-md-1">
                      <%= link_to "", edit_discussion_path, method: :get, :class=> "fa fa-pencil fa-2x" %>
											<%= link_to "", delete_discussion_path, method: :delete, :class=> "fa fa-trash fa-2x" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
					<% @discussion.comments.each do |f| %>
						<tr>
							<td class="col-md-12">
							  <div class="panel-body thread-row">
							    <div class="row thread-row">
							      <div class="col-md-2 col-sm-3 hidden-xs text-center userblock">
							        <img class="img-thumbnail avatar" src="<%= f.user.image_url  %>" alt="Avatar" />
							        <div class="push_bottom_5"></div>
							        <div class="label label-default"><%= f.user.user_name %></div>
							        <div class="text-muted text-left"><small>Smack Talk Posts: <%= f.user.discussions.count %></small></div>
							        <div class="text-muted text-left"><small>Joined <%= f.user.created_at %></small></div>
							      </div>
							      <div class="col-md-5 col-sm-6 col-xs-8">
							        <div class="clerafix hidden-xs">&nbsp;</div>
							        <div class="text-muted">
							          <span class="hidden-md hidden-lg"><i class="fa fa-calendar"></i> </span>
							          <small><span class="hidden-sm hidden-xs">Posted:</span><%= f.created_at %></small>
							        </div>
							      </div>
							      <div class="col-md-10 col-sm-9 col-xs-12">
							        <div class="content_body"><p><%= f.content %></p></div>
							      </div>
							    </div>
							    <% if current_user && current_user[:id] == f[:user_id] %>
							      <div class="row thread-row">
							        <div class="col-md-offset-11 col-md-1">
							          <%= link_to "", edit_comment_path(@discussion.id, f.id), method: :get, :class=> "fa fa-pencil fa-2x" %>  <%= link_to "", delete_comment_path(@discussion.id, f.id), method: :delete, :class=> "fa fa-trash fa-2x" %><br>
							        </div>
							      </div>
							    <% end %>
							  </div>
							</td>
						</tr>
					<% end %>
				</tbody>
      </table>
    </div>
		<div class="panel-footer clearfix">
			<div class="pull-right">
				&nbsp;
			</div>
		</div>
  </div>
  <p>
	<div class="row">
		<%= link_to "Comment this post", new_comment_path, method: :get, :class=> "btn btn-primary col-md-6 col-md-offset-3" %>
	</div>
</div>
