<div class="panel panel-default" id="a9" >
	<div class="panel-heading">
		<div class="text-center panel-title">
        <h4>Edit Info</h4>
    </div>
	</div>
	<div class="panel-body thread-row">
		<div class="row thread-row">
			<div class="col-xs-12 visible-xs-block">
				<div class="clerafix top-border">&nbsp;</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
        <%= bootstrap_form_for @user do |f| %>
          <%= f.text_field :first_name, :placeholder => "First Name" %>
          <%= f.text_field :last_name, :placeholder => "Last Name" %>
          <%= f.text_field :email, :placeholder => "Email" %>
          <%= f.text_field :user_name, :placeholder => "User Name" %>
          <%= f.text_field :image_url, :placeholder => "Profile Picture (add direct link or leave blank)" %>
          <%= f.password_field :password, :placeholder => "Password" %>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
          <%= f.submit "Save Changes", :class=>"btn btn-primary col-md-6 col-md-offset-3" %>
        <% end %>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			&nbsp;
		</div>
	</div>
</div>
