
<div class="sign-up-form">

  <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
      <%= f.text_field :first_name, :placeholder => "First Name"%><br>
      <%= f.text_field :last_name, :placeholder => "Last Name" %><br>
      <%= f.text_field :email, :placeholder => "Email" %><br>
      <%= f.text_field :user_name, :placeholder => "User Name" %><br>
      <%= f.text_field :image_url, :placeholder => "Profile Picture (add direct link or leave blank)" %><br>
      <%= f.password_field :password, :placeholder => "Password" %><br>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br>
      <%= f.submit "Submit", :class=>"btn btn-primary" %>
    <% end %>
  

</div>
