<div class="panel-group" id="accordion_recent_topics">
  <div class="panel panel-default">
      <div class="panel-heading text-center">
        <i class="fa fa-bullhorn"></i> <strong> Choose Team 2 </strong>
      </div>
      <div id="recent_topics" class="panel-collapse collapse in">
        <table class="table table-hover table-striped">
          <thead>
          	<tr>
          		<th class="col-md-6">
                <h2>AFC</h2>
                <h4 class="division">East</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "East" && t.conference == "AFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <p>
                <h4 class="division">West</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "West" && t.conference == "AFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <h4 class="division">North</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "North" && t.conference == "AFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <h4 class="division">South</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "South" && t.conference == "AFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </th>
          		<th class="col-md-6">
                <h2>NFC</h2>
                <h4 class="division">East</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "East" && t.conference == "NFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <p>
                <h4 class="division">West</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "West" && t.conference == "NFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <h4 class="division">North</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "North" && t.conference == "NFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <h4 class="division">South</h4>
                <% @nflteams.each do |t| %>
                  <% if t.division == "South" && t.conference == "NFC" %>
                    <div class="row team-name-logo-row">
                      <div class="col-md-1">
                        <img src="<%= t.img_url %>" class="team-logo" >
                      </div>
                      <div class="col-md-11">
                        <%= link_to t.name, nfl_result_path(@nflteam, t), method: :get %> <br>
                        <div class="label label-default"> <%= t.abbreviation %> </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </th>
          	</tr>
          </thead>
        </table>
      </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        &nbsp;
      </div>
    </div>
  </div>
</div>
